@import '../variables';

.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;

    &:hover {
        .dropdown-content {
            display: block;
        }
    }
}

.drop-btn {
    background-color: $white;
    color: $black;
    text-transform: uppercase;
    line-height: 26px;
    padding: 4px 10px;
    font-size: .8em;
    font-weight: 400;
    border-radius: 3px;
    outline-color: $buttonGrey;
    cursor: pointer;
    transition: all .2s;
    border: 1px solid $buttonGrey
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 1em;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    z-index: 1;
}

.level {
    background-color: $white;
    color: $iconGrey;
    text-align: center;
    padding: inherit;
    cursor: pointer;
    &:hover {
        background-color: $buttonBackgroundGrey;
        color: $black;
    }
}

.add-level {
    color: $green;
    &:hover {
        color: $white;
        background-color: $green;
    }
}
