@import "../variables";

.main-page-content {
  display: flex;
  align-items: center;
}

.home-page {
  display: inline-grid;
  grid-template-rows: minmax(10%, 150px) minmax(200px, auto);
  .video-text {
    font-family: Quicksand, sans-serif;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .supla-video {
    display: flex;
    justify-self: center;
    align-self: center;
    width: 100%;
    margin-top: 2em;
  }
}
