.devices-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "tools drawing-area" ". buttons";
    justify-items: left;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 10%;
}

.device_button {
    grid-area: device-button; 
    border: none;
    background-color: none;
    height: 100px;
    width: 100%;
    transition-duration: 0.6s;
}

.device_button:hover {
    background-color: #c6c6c6;
}

.tools {
    grid-area: tools;
    padding: 10px;
    margin-top: 50px;
}

.drawing-area {
    grid-area: drawing-area;
}

.drawing-area .canvas {
    width: 600px;
    height: 600px;
    border: 1px solid #00d051;
}

.buttons {
    grid-area: buttons;
    display: flex;
    padding: 25px;
}

.buttons .directional-button {
    margin-left: 30px;
    margin-right: 30px;
}