.devices-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 4fr 1.5fr;
    grid-template-areas: "left-container drawing-area right-container";
}

.device_button {
    grid-area: device-button; 
    border: none;
    background-color: none;
    height: 100px;
    width: 100%;
    transition-duration: 0.6s;
}

.device_button:hover {
    background-color: #c6c6c6;
}