@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
.row {
  margin-right: -15px;
  margin-left: -15px;
}

.row .col-locations {
  width: 100%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.carousel-title {
  font-family: Quicksand,sans-serif;
  font-size: 35px;
  line-height: 35px;
  font-weight: 300;
  text-transform: capitalize;
  color: inherit;
  margin: .6em 0;
}

.filters {
  text-align: right;
}

.locations {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  gap: 25px 25px;
  -ms-grid-columns: (calc(25% - 20px))[auto-fit];
      grid-template-columns: repeat(auto-fit, calc(25% - 20px));
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  -ms-flex-preferred-size: 287.5px;
      flex-basis: 287.5px;
  visibility: visible;
}

.slide {
  -ms-flex-preferred-size: inherit;
      flex-basis: inherit;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.location {
  position: relative;
  display: block;
  background: #00d151;
  color: #ffffff;
  border-radius: 3px;
  -webkit-transition: all .3s;
  transition: all .3s;
  height: 100%;
  overflow: hidden;
}

.black {
  background: #000000;
  color: #ffffff;
  border-color: #000000;
}

.lift-up {
  height: auto;
  -webkit-transition: all .2s;
  transition: all .2s;
  top: 0;
}

.location.lift-up.black {
  height: 100%;
  min-height: 150px;
}

.location-wrapper {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: auto;
  color: inherit;
}

.location-wrapper:hover {
  cursor: pointer;
}

.location-wrapper:hover .location-add-devices,
.location-wrapper:hover .location-edit {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

.center {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 3 / 3;
  display: table;
  table-layout: fixed;
  text-align: center;
  width: 100%;
  height: 100%;
}

.center:hover {
  cursor: pointer;
}

.dynamic-buttons {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 1 / 3;
  margin: 5px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.location-edit,
.location-add-devices {
  width: 30px;
  height: 30px;
  -webkit-transition: ease .5s;
  transition: ease .5s;
  -webkit-transform: translateX(calc(100% + 10px));
          transform: translateX(calc(100% + 10px));
}

.location-edit > img,
.location-add-devices > img {
  width: 100%;
  height: 100%;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.span {
  display: table-cell;
  vertical-align: middle;
}

.location-photo {
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;
  height: 8vw;
  width: 100%;
}

.separator {
  display: block;
  margin: 4px 0;
}

i {
  font-size: 6em;
  display: block !important;
  margin-bottom: 15px;
}
/*# sourceMappingURL=Locations.css.map */