@import '../variables';

.row {
    margin-right: -15px;
    margin-left: -15px;

    .col-locations {
        width: 100%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

.carousel-title {
    font-family: Quicksand,sans-serif;
    font-size: 42px;
    line-height: 42px;
    font-weight: 300;
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 10px;
    color: inherit;
    margin: .67em 0
}

.filters {
    text-align: right;
}

.locations {
    width: 100%;
    position: relative;
    margin: 0 -5px;
    padding-top: 2vh;
    padding-bottom: 30vh;
    overflow: hidden;
    display: grid;
    align-items: left;
    grid-template-columns: repeat(auto-fit, minmax(200px, 277.5px));
    backface-visibility: hidden;
    transform: translateX(0px);
    transition: transform 0.5s ease 0s;
    flex-basis: 287.5px;
    visibility: visible;
    .slide {
        padding: 5px;
    }
}

.slide {
    flex-basis: inherit;
    flex-grow: 0;
    flex-shrink: 0;
    user-select: none;
}

.location {
    position: relative;
    display: block;
    background: $green;
    color: $white;
    padding: 10px 15px;
    border-radius: 3px;
    border: 2px solid $green;
    transition: all .3s;
    height: 100%;
}

.black {
    background: $black;
    color: $white;
    border-color: $black;
}

.lift-up {
    transition: all .2s;
    top: 0;
}

.location-wrapper {
    display: grid;
    width: 100%;
    height: 100%;
    color: inherit;
    grid-template-columns: 95% auto;
    grid-template-rows: 80% auto;

    &:hover {
        cursor: pointer;

        .location-add-devices,
        .location-edit {
            transform: translateX(-5px);
        }
    }
}

.center {
    grid-area: 1 / 1 / 3 / 3;
    display: table;
    table-layout: fixed;
    text-align: center;
    width: 100%;
    height: 100%;

    &:hover {
        cursor: pointer;
    }
}

.dynamic-buttons {
    grid-column: 3;
    grid-row: 1;
    display: list-item;
    align-items: center;
    justify-content: center;
}

.location-edit, 
.location-add-devices {
    width: 30px;
    height: 30px;
    transition: ease .5s;
    transform: translateX(calc(100% + 20px));
}

.location-edit > img, 
.location-add-devices > img {
    width: 100%;
    height: 100%;
    filter: invert(100%);
}

.span {
    display: table-cell;
    vertical-align: middle;
}

.location-photo {
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    height: 100px;
    width: 100%;
    border: 1px solid $labelLightGrey;
}

.separator {
    border-top: 1px solid $labelLightGrey;
    display: block;
    margin: 8px 0;
}

i {
    font-size: 6em;
    display: block !important;
    margin-bottom: 15px;
}