@import '../variables';

.manager-page {
    display: grid;
    grid-template-columns: minmax(50px, 10%) minmax(600px, auto) minmax(70px,15%);
    grid-template-rows: minmax(70px, 10%) minmax(450px, auto);
    max-width: 100%;
} 

.manager-page-layout {    
    grid-area: 2 / 1 / 2 / span 3;
    display: inherit;
    grid-template-columns: inherit;
    .left-container {
        grid-column: 1;
    }
}

.manager-devices-list {
    margin-top: -40px;
    width: 100%;
}

.fullscreen_wrapper {
    position: fixed !important;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    padding: 50px;
    box-sizing: border-box;
    background: #fafbfc;
}