.fullscreen_button {
    width: 30px;
    height: 30px;
    opacity: .5;
    cursor: pointer;
    position: absolute;
    background-size: cover;
}

.fullscreen_button_open {
    bottom: 10px;
    right: 25px;
    background-image: url(https://static.thenounproject.com/png/2814-200.png);
}

.fullscreen_button_close {
    bottom: 60px;
    right: 60px;
    background-image: url(https://icon-library.com/images/exit-full-screen_318-9919.jpg);
}