@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


* {
  font-family: "Quicksand";
}

body {
  background-color: #fafbfc;
}

h2 {
  font-size: 1.5em;
  font-weight: 600;
}

.tool-container {
  margin: 0px;
}

.devices-container {
  margin: 0px;
}

.navbar {
  padding: 20px 20% 20px 20%;
  background-color: #fff;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_text {
  width: 160px;
  font-size: 2em;
  color: #000;
  font-weight: 400;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

.location:nth-child(3n),
.location:nth-child(3n + 2) {
  margin-right: 3%;
}

.video {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1000;
  transform: scale(1.2);
}

.level {
  text-align: center;
  padding: 5px;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #00d151;
  cursor: pointer;
}

.level:first-child {
  border-width: 1px;
}

.level-active {
  background: #00d151;
  border: 0;
  color: #fff;
}

.directional-button{
  color: #00d051;
  text-align: center;
  border: 1px solid #00d051;
  border-radius: 15px;
  height: 50px;
  width: 120px;
  background-color: #ffffff;
  margin-bottom: 10;
  margin-top: 10;
  padding: 10;
}

.fill-none {
  fill: none!important;
}

.logo-svg {
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10;
}