.tool-container {
    display: grid;
    grid-template-columns: 0.4fr 1.5fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "tools canvas-area" ". buttons";
}

.tools {
    grid-area: tools;
}

.canvas-area {
    grid-area: canvas-area;
    width: 40vw;
}

.canvas-area .drawing-area {
    display: inline-block;
}

.canvas-area .levels {
    display: inline-block;
    vertical-align: bottom;
}

.tools .tool-button {
    border: 1px solid #00d051;
    border-radius: 15px;
    height: 100px;
    width: 100px;
    background-color: #ffffff;
    margin-bottom: 10;
    margin-top: 10;
}

.buttons  > div{
    grid-area: buttons;
    display: flex;
    margin: 50px;
}

.buttons .directional-button .devices-link {
    color: #00d051;
}