$white: #ffffff;
$black: #000000;
$buttonBackgroundGrey: #f2f2f2;
$backgroundGrey: #fafbfc;
$iconGrey: #777777;
$labelBoldGrey: #dddddd;
$labelLightGrey: #eeeeee;
$buttonGrey: #eaeaea;
$searchTextGrey: #999999;
$green: #00d151;
$red: #ff3300;
$buttonRed: #c9302c;
$buttonBorderRed: #ac2925;
$orange: #ff6600;
$yellow: #ffe836;