.manager-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "drawing-area devices-list";
}

.devices-list {
    grid-area: devices-list;
}

.drawing_area {
    grid-area: drawing-area;
}

.back-link {
    color: #00d051;
    text-align: center;
    border: 1px solid #00d051;
    border-radius: 15px;
    height: 50px;
    width: 200px;
    background-color: #ffffff;
}