.manager-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "possible-actions-area drawing-area devices-list";
}

.devices-list {
    grid-area: devices-list;
}

.drawing_area {
    grid-area: drawing-area;
}

.possible-actions-area {
    grid-area: possible-actions-area;
}

.back-link {
    width: 200px;
    border: 0px;
    padding: 20px 0;
    height: auto;
    color: #000;
    cursor: pointer;
    transition: ease .5s;
    border-bottom: 1px solid #eee;
    background: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

.back-link:hover {
    color: #00d151;
}